@import "tailwindcss";

@theme inline {
  --font-sans: var(--font-nunito);
  --font-mono: var(--font-geist-mono);
}

@theme {
  --color-brand-primary: #6367ff;
  --color-brand-secondary: #8494ff;
  --color-brand-soft: #c9beff;
  --color-brand-accent: #ffdbfd;
}

body {
  background-color: #f8fafc;
  color: #0f172a;
}
